<h1 class="mt-4" style="font-size: 400%; text-align: center; color: darkblue;">Traveller Planner for the Groups</h1>
<br>
<h2 style="text-align: center;">Edit Plan</h2>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body" style="border: 2px solid black; box-shadow: cornflowerblue 5px 5px 5px;">
            <form action="/showDetails/<%= planData._id %>" method="POST">
                <div class="form-group">
                    <label for="email">Place</label>
                    <% if(planData.place){ %>
                    <input type="text" id="place" name="place" class="form-control" placeholder="Enter Place To Visit"
                        value="<%= planData.place %>" />
                    <% }else{ %>
                    <input type="text" id="place" name="place" class="form-control"
                        placeholder="Enter Place To Visit" />
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <% if(planData.startDate){ %>
                    <input type="date" id="startDate" name="startDate" class="form-control"
                        placeholder="Enter Start Date" value=<%= planData.startDate %> />
                    <% }else{ %>
                    <input type="date" id="startDate" name="startDate" class="form-control"
                        placeholder="Enter Start Date" />
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <% if(planData.endDate){ %>
                    <input type="date" id="endDate" name="endDate" class="form-control" placeholder="Enter End Date"
                        value=<%= planData.endDate %> />
                    <% }else{ %>
                    <input type="date" id="endDate" name="endDate" class="form-control" placeholder="Enter End Date" />
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="otherDetails">Details</label>
                    <% if(planData.otherDetails){ %>
                    <textarea id="otherDetails" name="otherDetails" class="form-control"
                        placeholder="Enter Details"><%= planData.otherDetails %></textarea>
                    <% }else{ %>
                    <textarea id="otherDetails" name="otherDetails" class="form-control"
                        placeholder="Enter Details"></textarea>
                    <% } %>
                </div>
                <button type="submit" class="btn btn-info btn-block">Change Plan</button>
                <br>
                <a href="/dashboard" class="btn btn-outline-success btn-block" >Back</a>
            </form>
        </div>
    </div>
</div>